/* font */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins&display=swap");
/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.card {
  background: #0d0d0d;
}
body {
  background: #434343;
}
p,
span,
li {
  color: #d3d2d2;
}
/* common css end */

/* banner section start */
.banner-wrapper {
  background: url(../images/banner.jpg);
  width: 100%;
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-wrapper .banner-text h1 {
  font-family: "Berkshire Swash";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  text-align: center;
  text-transform: capitalize;
  color: #ff5e19;
}
.banner-wrapper .banner-text p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}
/* banner section end */

/* palayer section start */
.player-wrapper .card .card-body p span {
  font-size: 13px;
}
.my-player {
  background: #0d0d0d;
  border-radius: 10px;
  height: 319px;
  margin-bottom: 14px;
}
.my-player h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  padding: 20px 0 30px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
#player-list li {
  padding-bottom: 20px;
}

.budget {
  background: #0d0d0d;
  border-radius: 10px;
  padding: 20px 12px;
  margin-bottom: 14px;
}
/* palayer section end */

/* footer section start */
.footer-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  border-top: 1px solid;
  background-color: #0d0d0d;
}
.footer-text {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text p {
  margin: 0;
}

/* footer section end */
